﻿@page "/employees/{companyId:int}"

@inject IDbContextFactory<DataContext> ObjectsContextFactory

<div class="top-row px-4">
    <div class="col text-center">
        <RadzenLabel Text="@($"Сотрудники ({companyName})")" Style="font-size:20px" />
    </div>
</div>
<div class="content px-4">

    <RadzenDataList WrapItems="true" AllowPaging="true" Data="@employees" TItem="Employee">
        <Template Context="employee">
            <RadzenCard Style="width:50%">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div>
                            <RadzenLabel Text="@($"Employee: {employee.FirstName} {employee.LastName} ({employee.Email})")" />
                        </div>
                        <div>
                            <RadzenLabel Text="@($"City: {employee.City}")" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div>
                            <RadzenLabel Text="@($"Age: {employee.Age}")" />
                        </div>
                        <div>
                            <RadzenLabel Text="@($"Salary: {employee.Salary}")" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div>
                            <RadzenLabel Text="@($"Phone: {employee.Phone}")" />
                        </div>

                    </div>
                </div>
            </RadzenCard>

        </Template>
    </RadzenDataList>
</div>

@code {
    [Parameter]
    public int companyId { get; set; }
    IEnumerable<Employee> employees;
    public string companyName;

    protected override void OnInitialized()
    {
        using (var context = ObjectsContextFactory.CreateDbContext())
        {
            employees = context.Employees.Where(e => e.CompanyId == companyId).ToList();
            companyName = context.Employees.Include(e=>e.Company).First(e => e.CompanyId == companyId).Company.Name;
        };
    }

}
