﻿@page "/"

@inject IDbContextFactory<DataContext> ObjectsContextFactory

<div class="top-row px-4">
    <div class="col text-center">
        <RadzenLabel Text="Компании" Style="font-size:20px" />
    </div>
</div>
<div class="content px-4">
    @if (companies.Count() == 0)
    {
        <div>
            Загрузка данных...
        </div>
    }
    else
    {


        <RadzenGrid AllowFiltering="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowColumnResize="true"
                    AllowPaging="true"
                    PageSize="15"
                    AllowSorting="true"
                    Data="@companies"
                    TItem="Company"
                    ColumnWidth="200px"
                    EmptyText="Нет данных для отображения">
            <Columns>
                <RadzenGridColumn TItem="Company" Property="Name" Title="Название компании">
                    <Template Context="data">
                        <a href="/employees/@data.Id">
                            @data.Name
                        </a>
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Company" Property="Rating" Title="Количество работников">
                    <Template Context="data">
                        @data.Employees.Count()
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="Company" Property="Rating" Title="Рейтинг" />
            </Columns>

        </RadzenGrid>
    }
</div>

@code {
    IEnumerable<Company> companies;
    protected override void OnInitialized()
    {
        //Load Data from JSon to DB if needed
        LoadData();


        using (var context = ObjectsContextFactory.CreateDbContext())
        {
            companies = context.Companies.Include(c => c.Employees).ToList();
        };
    }
    private void LoadData()
    {
        using (var context = ObjectsContextFactory.CreateDbContext())
        {
            if (context.Companies.Count() == 0)
            {
                string file = System.IO.File.ReadAllText("generated.json");
                var companies = JsonSerializer.Deserialize<List<Company>>(file);
                context.AddRange(companies);
                context.SaveChanges();
            }
        }
    }


}
